# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (uncomment to ignore)
# vendor/

# IDE and Editor-specific files (examples)
.idea/
.vscode/
*.swp
*.bak
*~