name: "Build Go backend"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build:
    name: "Build Go backend"
    runs-on: ubuntu-latest
    env:
      GOOS: windows
      GOARCH: 386
      CGO_ENABLED: 1

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: "Set up Go"
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.4"

      - name: "Build"
        working-directory: ./backend
        run: |
          go build -o main.exe -v ./...

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v5
        with:
          name: backend
          path: ./backend/
          retention-days: 5