name: "Build Go backend"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: ./backend

jobs:
  build:
    name: "Build Go backend"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: "Set up Go"
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.4"

      - name: "Build"
        run: |
          go build -v ./...

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: backend-build
          path: ./*.exe
          retention-days: 5